@charset "UTF-8";
body {
    background: url(../_imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: arial, sans-serif;
    align-items: center;
    justify-content: center;
}

.center {
    padding: 8px;
    position: relative;
    width: 45rem;
    height: 35rem;
    background-color: #f8f8f8e4;
    border: 1px solid #ccc;
    word-wrap: break-word;
}

div h2{
    margin: 0px;
}
p {
    display: block;
    margin:0px;
    color: rgb(157 188 208);
}
div p samp{
    color:rgb(136 156 172);
}
.title_lege {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	color: rgb(157 188 208);
	font-weight: bold;
	background-color: #2a475c;
	width: 46.1rem;
    text-align: center;
}

.border_top{
    border-radius: 8px 8px 0px 0px;
}

.content_wrapper{
    box-shadow: 3px 3px 0.3px rgb(0 0 0 / 30%);
    border-radius: 0px 0px 8px 8px;
    margin: 0%;
    padding: 0%;
}

.border_bottom{
    border-radius: 0px 0px 8px 8px;
}

.div_image_php{
    align-self: flex-start;
}

.image_php{
    width: 15em;
}
.main_content{
    align-self: center;
}
